<div class="py-3 col-md-12">
  <div class="cenAlign ctxt insideBorder btnBg">
    <div class="">
      <h3 class="" name="seedOffer-seedName">{{seedName}}</h3>
      <p class="" name="seedDescription">{{offerDescription}}</p>
    </div>
    <div>
      <a href="/offers/checkRequests/{{webLink}}">
      <button type="submit" name="button to click for the user to request this seedOffer" class="btn btn-info accountBtns">View Requests</button>
      </a>
    </div>
  </div>
</div>