<div class="border py-3 col-md-12">
  <div class="cenAlign ctxt insideBorder btnBg">
    <div class="">
      <h3 class="" name="seedOffer-seedName">{{seedName}}</h3>
      <p class="" name="seedDescription">{{offerDescription}}</p>
    </div>
      <p class="" name="SeedRequests-seedoffers_id">{{seedoffers_id}}</p>
    </div>
  <a href=""><button class="insideBorder ctxt btnBg">I have received this seed in the mail!</button></a>
  <a href=""><button class="insideBorder ctxt btnBg">Nevermind, I no longer want this seed.</button></a>
</div>