<div class="titleBg py-3 col-md-12">
  <div class="cenAlign ctxt insideBorder btnBg">
    <div class="">
      <h3 class="border-below" name="seedOffer-seedName">{{seedName}}</h3>
      <p class="" name="seedDescription">{{offerDescription}}</p>
    </div>

  </div>
  <button class="insideBorder ctxt btnBg" data-offerid="{{id}}">I have received this seed in the mail!</button>
  <button class="insideBorder ctxt btnBg" data-offerid="{{id}}">Nevermind, I no longer want this seed.</button>
</div>