<div class="py-3 col-md-12">
  <div class="cenAlign ctxt insideBorder btnBg">
    <div class="">
      <h3 class="" name="seedOffer-seedName">{{seedName}}</h3>
      <p class="" name="seedDescription">{{offerDescription}}</p>
    </div>
      <p class="" name="SeedRequests-seedoffers_id">{{seedoffers_id}}</p>
    </div>
  <a href=""><button class="insideBorder ctxt btnBg">Seed Received</button></a>
  <a href=""><button class="insideBorder ctxt btnBg">Delete seed request</button></a>
</div>
  




  {{!-- SeedRequests.init(
  {
    id: {
      type: DataTypes.INTEGER,
      allowNull: false,
      primaryKey: true,
      autoIncrement: true,
    },
    user_id: {
      type: DataTypes.INTEGER,
      references: {
        model: 'user',
        key: 'id',
      },
    },
    seedoffers_id: {
      type: DataTypes.INTEGER,
      references: {
        model: 'seedOffers',
        key: 'id',
      },
    },
  }, --}}