<div class="py-3 col-md-12">
  <div class="cenAlign ctxt insideBorder btnBg">
    <div class="">
      <h3 class="" name="Seed Name">{{requestedSeed}}</h3>
      <p class="" name="seed info">{{seedinfo}}</p>
    </div>
    <div>
      <a href="//{{webLink}}">
      <button type="submit" name="" class="btn btn-info accountBtns">annswer to request</button>
      </a>
    </div>
    
  </div>
</div>