{{!-- KYLES BLOCK START --}}
<div>
  <div class="py-3 col-md-12 ">
    <div class="ctxt kyleBorder">
      <div class="">
        <h3 class="" name="seedOffer-seedName">{{seedName}}</h3>
        <p class="" name='seedDescription'>{{offerDescription}}</p>
      </div>
      {{#if loggedin}}
      <div>
        <button type="submit" name="button to click for the user to request this seedOffer" class="btn btn-info" data-id="{{id}}">MAIL-ME-THESE-SEEDS</button>
      </div>
      {{else}}
      <p>****Please log in to get seeds mailed to you</p>
      {{/if}}
    </div>
  </div>
</div>
{{!-- KYLES BLOCK FINISH --}}