<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail me seeds</title>
  <link rel="stylesheet" href="/public/css/jazz.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
     {{!-- <nav class=""> --}}
    <ul class="">
      <li class=""><a href="/mainpage">Find Seeds</a></li>
      <li class=""><a href="/request ">Requested Seeds </a></li>
      <li class=""><a href="/myoffers ">My seed offers   </a></li>
    </ul>
  {{!-- </nav> --}}

    <footer>
    <a href="/login">Logout</a>
  </footer>

</body>
