<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail me Seeds</title>
    <link rel="stylesheet" href="/css/jazz.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/helpers.js"></script>
</head>
 {{!-- this will turn the entire background of the html to a yellow-green if we want --}}
<body class="bg1">
    <div> 
        <header 
        {{!-- class="inline" --}}
        > 
            <div
             {{!-- class="row ctxt" --}}
             {{!-- class="inline" --}}
             >        
                <div class="m-3 float_left"><a href="/user/dashboard"><button class="btn btn-large btnBg ctxtL">Dashboard</button></a></button></div>                          
                {{#if data.loggedIn}}
                <div class="m-3 float_right"><a href="/user/logout"><button class="btn btn-large btnBg ctxtL">Logout</button></a></div>
                {{else}}
                <div class="m-3 float_right"><a href="/user/"><button class="btn btn-large btnBg ctxtL">Login</button></a></div>
                {{/if}}
              </div>    
        </header>
    </div>
    <main>{{{body}}}
    </main>
    
</body>  

</html>