<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail me Seeds</title>
    <link rel="stylesheet" href="/css/jazz.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/helpers.js"></script>
</head>
 {{!-- this will thurn the entire background of the html to a yellow-green if we want --}}
<body class="bg1">
    <div> 
        
      <img class="picFix" src="https://res.cloudinary.com/dubimtz4j/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1674236809/IconArt_pcfwa6.jpg" alt="Mailbox made from seed logo" >
       
        <header class=""> 
            <div class="row ctxt">        
                <div class="col-4"><a href="/user/dashboard"><button class="btn btn-large btnBg ctxtL">Dashboard</button></a></button></div> 
                
                <div class="col-4"><a href="/"><img class="picFix2" src="https://res.cloudinary.com/dubimtz4j/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1674238160/growing_yv0pnf.jpg" alt="plants bursting forth from envelopes"></a></div>
                {{#if data.loggedIn}}
                <div class="col-4"><a href="/user/logout"><button class="btn btn-large btnBg ctxtL">Logout</button></a></div>
                {{else}}
                <div class="col-4"><a href="/user/"><button class="btn btn-large btnBg ctxtL">Login</button></a></div>
                {{/if}}
            </div>
        </header>
    </div>
    {{{body}}}
</body>
</html>