<div>
  <div>
    <h2>My Account</h2>
  </div>
  <form>
    <div>
    <a href="/updateEmail "><button>Update Email</button></a>
    </div>
    <div>
    <a href="/mailing"><button>Update Mailing Address </button></a>
    </div>
    <a href="/create-np"><button>Update Password </button></a>
  </form>