{{!-- http://localhost:3001/user/account --}}
<div class="border2 ctxt">
  <div>
    <h2>My Account</h2>
  </div>
  
    <div class="ctxtL m-2 p-1">
    <a href="/updateEmail "><button class="insideBorder btnBg">Update Email</button></a>
    </div>
    <div class="ctxtL m-2 p-1">
    <a href="/mailing"><button class="insideBorder btnBg">Update Mailing Address </button></a>
    </div>
    <div class="ctxtL m-2 p-1">
    <a href="/create-np"><button class="insideBorder btnBg">Update Password </button></a>
    </div>

</div>