<div>
    <div>
        <h2>Welcome to Mail me seeds sign-up</h2>
        <p>
             <b>We will share you home mailing address with gardeners who have extra of the types of seeds you are looking for.
                Please confirm if this is ok with you?
             </b>
        </p>
    {{!-- <div> 
        <button><input type=confirm> Yes, I want people to mail me seeds!</button>
    </div>
    <div>
        <button><input type=confirm> Yes, I want people to mail me seeds!</button>
    </div> --}}
    <div>
    <a href="/user/create-acct"><button>Yes, I want people to mail me seeds!</button></a>
    </div>
    <div>
    <a href="/user/login"><button>No, get me out of here!</button></a>
    </div>
    </div>
    <form>

    </form>
</div>