<div class="border2">
    <div>
        <h2 class="titleBg ctxt">Welcome to the Mail-Me-Seeds sign-up!!!!</h2>
        <p class="ctxt">
             <b>We will share you home mailing address with gardeners who have extra of the types of seeds you are looking for.
                Please confirm if this is ok with you?
             </b>
        </p>
    {{!-- <div> 
        <button><input type=confirm> Yes, I want people to mail me seeds!</button>
    </div>
    <div>
        <button><input type=confirm> Yes, I want people to mail me seeds!</button>
    </div> --}}
    <div class="ctxtL">
    <a href="/user/create-acct"><button class="insideBorder btnBg">Yes, I want people to mail me seeds!</button></a>
    </div>
    <div class="ctxtL">
    <a href="/user/"><button class="insideBorder btnBg">No, get me out of here!</button></a>
    </div>
    </div>
    <form>

    </form>
</div>