<h1 class="ctxt">MAIL ME SEEDS</h1>
<div class="border2">
  <div>
    <h2 class="ctxt">Sign Up</h2>
  </div>
  <div class="ctxtL" role="tabpanel">
    <form>
      <div>
        <div><label class="ctxtL" type="text">Username</label></div>
        <input class="fieldControl" type="text" id="username">
      </div>
      <div>
        <div><label class="ctxtL" for="email-input-signup">Email</label></div>
        <input class="fieldControl" type="text" id="email" />
      </div>
      <div>
        <div><label class="ctxtL" for="password-input-signup">Password</label></div>
        <input class="fieldControl" type="password" id="password" />
      </div>
      <div>
        <div><label class="ctxtL" for="confirm-input-password">Confirm Password</label></div>
        <input class="fieldControl" type="password" id="confirmPassword" />
      </div>
      <button class="ctxtL btn btn-large btnBg py-1 mx-2" id="signUp">Sign Up!</button>

    </form>
</div>
</div>

<script src="/js/createAccount.js"></script>