<div>
    <div>
      <h2>Sign Up</h2>
    </div>
    <divrole="tabpanel">
      <form >
        <div>
          <label for="username-input-signup">Username</label>
          <input type="text"/>
        </div>
        <div>
          <label for="password-input-signup">Password</label>
          <input type="password"/>
        </div>
        <button type="submit">Signup!<a href="/mail"></a></button>
        <a href="/mail"></a>
      </form>
    </div>
  </div>
  
  <script src="/public"></script>