<div>
    <div>
      <h2>Sign Up</h2>
    </div>
    <divrole="tabpanel">
      <form >
        <div>
          <label for="username-input-signup">Username</label>
          <input type="text"/>
        </div>
        <div>
          <label for="password-input-signup">Password</label>
          <input type="password"/>
        </div>
        <div>
          <label for="confirm-input-password">Confirm Password</label>
          <input type="confirm password"/>
        </div>
        <div>
          <label for="Mailing address">Mailing address</label>
          <form type="mailing address"></form>
        </div>
        <a href="/mailing"><button>Sign Up!</button></a>
    
      </form>
    </div>
  </div>
  
  <script src="/public"></script>