<div class="border2 ctxt" >
  <div>
    <h2>Create a new password</h2>
  </div>
  <form>
    <div>
     <label for="new-password">New password</label>
      <input type="password" id="password">
    </div>
    <div>
      <label for="confirm-password">Confirm password</label>
      <input type="password" id="confirmPassword">
    </div>
      <button data-resetlink={{resetLink}} id="resetBtn" class="btnBg">Reset password!</button>
  </form>


<script src="/js/create-np.js"></script>