<div>
     {{!-- <nav class=""> --}}
    <ul class="">
      <li class=""><a href="/account">My Account</a></li>
      <li class=""><a href="/mainpage">Find Seeds</a></li>
      <li class=""><a href="/request ">Requested Seeds </a></li>
      <li class=""><a href="/myoffers ">My seed offers   </a></li>
    </ul>
  {{!-- </nav> --}}
</div>



