<div>
     {{!-- <nav class=""> --}}
    <ul class="">
      <li class=""><a href="/account">My Account</a></li>
      <li class=""><a href="/">Find Seeds</a></li>
      <li class=""><a href="/user/request ">Requested Seeds </a></li>
      <li class=""><a href="/user/myoffers ">My seed offers   </a></li>
    </ul>
  {{!-- </nav> --}}
</div>



