<div class="container ctxtL">
  {{! <nav class=""> }}

  <section class="border2 m-5 py-2">
      {{! may need different param }}
  <h2 class="titleBg">Welcome to your dashboard! {{data.username}}</h2>
  <img class="picFix", "ctxtL" src="https://res.cloudinary.com/dubimtz4j/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1674236809/IconArt_pcfwa6.jpg" alt="Mailbox made from seed logo" >



    <div class="py-2"><a href="/#offers"><button
          class="insideBorder btnBg py-2 col-6"
        >Browse Posted Seed Offers</button></a></div>

    <div class="py-2"><a href="/offers/request "><button
          class="insideBorder btnBg py-2 col-6"
        >Seeds I have requested</button></a></div>

    <div class="py-2"><a href="/offers/myoffers "><button
          class="insideBorder btnBg py-2 col-6"
        >Seeds I'm Offering</button></a></div>

    <div class="py-2"><a href="/user/account"><button
          class="insideBorder btnBg py-2 col-6"
        >My Account</button></a></div>



  </section>
  {{! </nav> }}
</div>