<div class="rounded container col-14 p-6 m-5 mx-auto" style="background-image: url('../public/images/Header\ image.jpg');
color:blueviolet";>
      <h2><B>Mail Me Seeds</B></h2>
      <h4>Needs seeds, we got'em all from heirlooms to exotic fruits! We are a based on a social active site, where all green thumbs alike can share what they have accumalated
        throughout their journey of planting and growing! Sign up for free!
      </h4>
      
</div>

<div class="rounded container col-10 p-2 w-100 m-3 mx-auto" style="background-color: maroon;
color:rgb(110, 205, 110)">
    <div class="row">
        <div class="col-md-6">
          <h2>Login</h2>
          <form class="form login-form">
            <!-- {{!-- <div class="form-row"></div> --}} -->
            <div class="form-group">
              <label for="email-login">Email:</label>
              <input class="form-control" type="text" id="email-login">
            </div>
            <div class="form-group">
              <label for="password-login">Password:</label>
              <input class="form-control" type="password" id="password-login">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
            <button class="btn btn-prrmary" type="forgot">forgot</button>
          </form>
          <div>   
            <a href="/signup">Don't have account yet? Click here!</a>
            </div>
          </div>
      <!-- <script src="../public/js/"></script> -->
</div>






<!-- <div id="login">
    <h3>Log In</h3>
    <form class="loginForm">
        <div id="username">
            <label>Username:</label>
            <input id="inputUser" type="text" name="username" />
        </div>
        <div id="password">
            <label>Password:</label>
            <input id="inputPass" type="password" name="password" />
        </div>
        <div id="loginBtn">
            <button type="submit">Log In</button>
        </div>
        <a href ="/forgot">Forgotten username and password!</a>
        <div>   
        <a href="/signup">Don't have account yet? Click here!</a>
        </div>
    </form>
</div> -->
<!-- <script src="login.js"></script> -->