

<div class="border2">
  <h1 class="ctxt">MAIL ME SEEDS</h1>

  <p class="ctxt">GET SEEDS IN THE MAIL, AND SEND SEEDS IN THE MAIL</p>
  <div class="">
    <h2 class="titleBg ctxt">Login</h2>
  </div>
  <form class="ctxtL">
    <div>
      <div><label class="ctxtL" for="email-input-login">Email:</label></div>
      <input class="fieldControl" type="text" id="email" />
    </div>
    <div>
      <div><label class="ctxtL" for="password-input-login">Password:</label></div>
      <input class="fieldControl my-2" type="password" id="password" />
    </div>
    <button class="ctxtL btn btn-large btnBg py-1 mx-2" id="login">Login!</button>
  </form>
  <div class="ctxtL py-1">
      <a href="/user/resetpassword"><button class="ctxtL btn btn-large btnBg py-1 mx-2">Forgot Password?</button></a>
    </div>
  <div class="ctxt">
    <a href="/user/confirm"><button class="ctxtL btn btn-large btnBg py-1 mx-2">Sign Up</button></a>
  </div>
</div>

<script src="/js/login.js"></script>