<h1>MAIL ME SEEDS</h1> 
<link rel="logo" type="image" id="" href="/public/images/">

<p>GET SEEDS IN THE MAIL, AND SEND SEEDS IN THE MAIL</p>

<div >
    <div>
      <h2>Login</h2>
    </div>
    <form >
      <div>
        <label for="username-input-login">Username</label>
        <input type="text"/>
      </div>
      <div>
        <label for="password-input-login">Password</label>
        <input type="password"/>
      </div>
      <button type="submit">Login!</button>
      <button type="forgot">Forgot My Password</button>
      <a type="button" href="/signup">Sign up instead</a>
    </form>
  </div>

  <script src="/public/"></script>