<h1>MAIL ME SEEDS</h1>
<link rel="logo" type="image" id="" href="/public/images/">

<p>GET SEEDS IN THE MAIL, AND SEND SEEDS IN THE MAIL</p>

<div>
  <div>
    <h2>Login</h2>
  </div>
  <form>
    <div>
      <label for="email-input-login">Email</label>
      <input type="text" id="email" />
    </div>
    <div>
      <label for="password-input-login">Password</label>
      <input type="password" id="password" />
    </div>
    <button id="login">Login!</button>
    <a href="/resetpassword">Forgot Password?</a>
  </form>
  <div>
    <a href="/user/create-acct"><button>Sign up instead</button></a>
  </div>
</div>

<script src="/js/login.js"></script>