<div>
    <div>
     <h2>Please Enter Address</h2>
    </div>
    <form>
        <label for="Mailing address">Mailing address</label>
        <textarea name="mailing" id="mailing" cols="30" rows="5"></textarea>
    </form>
        <button id="updateMailing">Update Address</button>
</div>

<script src="/js/mailing.js"></script>