<div>
    <div>
     <h2>Please Enter Address</h2>
    </div>
    <form>
        <label for="Mailing address">Mailing address</label>
        <input type="mailing address"/>
    </form>
        <a href="/dashboard"><button>Create account</button></a>
</div><a href="/confirm"><button>Sign up instead</button></a>