<div>
    <div>
     <h2>Please Enter Address</h2>
    </div>
    <form>
        <label for="Mailing address">Mailing address</label>
        <input type="mailing address"/>
    </form>
        <button type="submit">Create account<a href="/dashboard"></a></button>
</div>