{{!-- KYLES BLOCK START --}}
<div>
{{!-- may need to futz with the sizing or arrangement of icon --}}
  {{!-- <img src=" Our Seed icon/logo Here" alt="Mailbox shaped like and acorn"> --}}
  <h1>Welcome To Mail-Me-Seeds!!!</h1>
  <div>
    <h3>Which of the following seeds would you like to request 
    to get in the mail? Check the boxes!</h3>
  </div>
<h2 class="ctxt">Posted Seed Offers!</h2>
{{#each data.currentOffers as |seedoffer|}}
{{> seedoffer-details}}
{{/each}}
</div>
{{!-- fill in script path? --}}
{{!-- <script src="./js/???????????????.js"></script> --}}
{{!-- KYLES BLOCK FINISH --}}