{{!-- KYLES BLOCK START --}}
<div>
{{!-- may need to futz with the sizing or arrangement of icon --}}
  {{!-- <img src=" Our Seed icon/logo Here" alt="Mailbox shaped like and acorn"> --}}
  <h1 class="ctxt bg1">Welcome To Mail-Me-Seeds!!!</h1>
  <div>
    <h3 class="ctxt">Which of the following seeds would you like to request 
    to get in the mail? Check the boxes to request that seed</h3>
  </div>
<h2 class="ctxt">Posted Seed Offers!</h2>
<div id="offers">
{{#each data.currentOffers as |seedoffer|}}
{{> seedoffer-details}}
{{/each}}
</div>
</div>
{{!-- fill in script path? --}}
<script src="/js/mainpage.js"></script>
{{!-- KYLES BLOCK FINISH --}}