<div>
  <h1>
  <div class="welcomeBrush bg1 ctxt">Welcome to</div>
  <div class="ctxt bg1">Mail-Me-Seeds!</div>
  </h1>

  
  <div class="ctxt"><a href="/"><img class="picFix2 border" src="https://res.cloudinary.com/dubimtz4j/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1674238160/growing_yv0pnf.jpg" alt="plants bursting forth from envelopes"></a></div>

  <div>
    
    <h3 class="ctxt padding">The app where gardeners mail their extra seeds to other gardeners. Would you like to receive any of the following seed varieties for free in the mail? </h3>
  </div>
</div>

<div class="border2">
  <h2 class="ctxt">Posted Seed Offers:</h2>
  <div id="offers">
    {{#each data.currentOffers as |seedoffer|}}
    {{> seedoffer-details}}
    {{/each}}
  </div>
</div>
<script src="/js/mainpage.js"></script>
