{{!-- KYLES BLOCK START --}}
<div>
{{!-- may need to futz with the sizing or arrangement of icon --}}
  {{!-- <img src=" Our Seed icon/logo Here" alt="Mailbox shaped like and acorn"> --}}
  <h1 class="ctxt bg1">Welcome To Mail-Me-Seeds! </h1>
  <div>
    <h3 class="ctxt">This is a place where gardeners get seeds from gardeners. Would you like to get any of these seed varieties for free in your mail? </h3>
  </div>
</div>
<div class="border2">
  <h2 class="ctxt">Posted Seed Offers!</h2>
  <div id="offers">
    {{#each data.currentOffers as |seedoffer|}}
    {{> seedoffer-details}}
    {{/each}}
  </div>
</div>
{{!-- fill in script path? --}}
<script src="/js/mainpage.js"></script>
{{!-- KYLES BLOCK FINISH --}}