<div class="border2">
    <h2 class="ctxt">My Seed offers</h2>
    <h3 class="ctxt">Seeds that I am offering to other gardners:</h3>

    <div>
  {{!-- where is posts coming from? --}}
  {{#each posts}}
    <a href=" ">
      <span>{{offerform/seed-name}}</span>
      <span>{{offerform/description}}</span>
    </a>
  {{/each}}
    </div>

</div>

{{!-- i am rather confused here so when selected it should go to offer.handlebars to get a requested user name  --}}