<div class="border2">
    <h2 class="titleBg ctxt">My Seed offers</h2>
    <h3 class="ctxt">Seeds that I am offering to other gardners:</h3>
    <div>
  {{#each data.myOffers}}
  {{> myOffers-details}}
  {{/each}}
    </div>
    <div>
      <a href="/offers/form">
      <button type="submit" name="button to click for the user to request this seedOffer" class="btn btn-info accountBtns">New Offer</button>
      </a>
    </div>

</div>

