<div class="border2 ctxt">
    <h2 class="titleBg ctxt">My Seed offers</h2>
    <img class="picFix" src="https://res.cloudinary.com/dubimtz4j/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1674437472/seed_conucopia_rxjlt3.jpg" alt="cornucopia filled with seeds" >
    <h3 class="ctxt">Seeds that I am offering to other gardners:</h3>
    <div id="offers">
  {{#each data.myOffers}}
  {{> myOffers-details}}
  {{/each}}
    </div>
    <div>
      <a href="/offers/form">
      <button type="submit" name="button to click for the user to request this seedOffer" class="btn btn-info accountBtns">New Offer</button>
      </a>
    </div>

</div>

