<div>
    <h2>My seed offers</h2>
    <p>Seed that I am offering to other gardners.</p>

    <div>
  {{#each posts}}
    <a href=" ">
      <span>{{offerform/seed-name}}</span>
      <span>{{offerform/description}}</span>
    </a>
  {{/each}}
</div>

</div>

{{!-- i am rather confused here so when selected it should go to offer.handlebars to get a requested user name  --}}