<div>
  <h3 class="ctxt">What seeds are you offering to other gardners? Please describe the amount, type, and anything a gardner should
    know.</h3>
</div>
  <form>
    <div>
      <!-- <input value="{{post.id}}"/> might be some use-->
      <div class="border2 ctxt">
        <label class="ctxtL">Seed Name:</label>
        <input class="fieldControl" type="text" , id="seedName">
        <label class="ctxtL">Description:</label>
        <textarea class="fieldControl" id="offerDescription"></textarea>
        <div><button class="insideBorder" id="postOffer">Post Offer</button></div>
        <a href="/offers/myoffers"><button class="insideBorder">Cancel</button></a>
      </div>

    </div>
  </form>
  <div>
      

</div>
<script src="/js/offerForm.js"></script>