

{{!-- This is the data object sent to http://localhost:3001/offers/request in offers.js
const data = {
		loggedIn: req.session.loggedIn,
		personalRequests: requestData.map((requests) =>
			requests.get({ plain: true }) --}}

 
<div class="border2 ctxt"> 
    <h2 class="titleBg">My Seed Requests</h2>
    <h3 class="ctxt">Seeds that I have requested from other gardners:</h3>
    <form>
        <div>   
            {{#each data.personalRequests}}
            {{> myRequests-details}}
            {{/each}}
        </div>
    </form>
</div>


     {{!-- note: it would be great to include a button that deletes the seed request --}}
     
