    <div>
        <form>
    <div>
      <div>
        <div>
        <label>Requested Seed Name</label>
        <input type="text" , id="seedName">
        </div>
        <div>
        <label>Description</label>
        <textarea id="offerDescription"></textarea>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
      <button class="button is-primary insideBorder btnBg py-2 col-6">request seed</button>
      </div>
    </div>
  </form>
</div>
<script src="/js"></script>