<div>
    <p>Here are the seeds your are currently requesting to receive in the mail.<br>
        If you chang your mind, you candelete a request by clicking "Delete".
    </p>
    <div>
        <p><i>If seeds have already arrived in the mail,<br>click "Seeds Arrived" and leave a feedback.</i></p>
    </div>
    <div>
        <form>
            <textarea></textarea>
            <div class="select">
            <select class="is-hovered">
                <option>--please choose an option</option.>
                <option>Seeds have Arrived</option>
                <option>Delete</option>
            </select>
            </div>
        </form>
        <div>
            <a href=""><button></button></a>
        </div>
    </div>
    
</div>