<div class="border2">
    <h2 class="ctxt">My Seed Requests</h2>
    <img class="picFix", "ctxtL" src="https://res.cloudinary.com/dubimtz4j/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1674437477/wishforseeds_tjekdu.jpg" alt= dandelion pappus morphing into an envelope blowing in the wind" >
    <h3 class="ctxt">Seeds that I have requested from other gardners:</h3>
    <div>   
    {{#each data.wantedOffers}}
    {{> myRequests-details}}
    {{/each}}
    </div>
</div>
