<div class="border2">
    <h2 class="ctxt">My Seed Requests</h2>
    <h3 class="ctxt">Seeds that I have requested from other gardners:</h3>
    <div>   
    {{#each data.wantedOffers}}
    {{> myRequests-details}}
    {{/each}}
    </div>
</div>
{{!-- <div> --}}
     {{!-- note: it would be great to include a button that deletes the seed request --}}