<<<<<<< HEAD
<form class="ctxt border2">
    <label for="email">Email</label>
    <input type="text" id="email">
    <button id="resetBtn" class="btnBg">Reset Password</button>
</form>

=======
<div class="border2">
    <form class="ctxt">
        <div><label class="ctxtL" for="email">Email: </label></div>
        <input type="text" id="email">
        <div class="m-2"><button class="btnBg ctxtL btn btn-large" id="resetBtn">Reset Password</button></div>
    </form>
</div>
>>>>>>> a42f6ff3d8a954d8dfb2e2d04b161c76a70ef125
<script src="/js/resetPassword.js"></script>