<div class="border2">
    <form class="ctxt">
        <div><label class="ctxtL" for="email">Email: </label></div>
        <input type="text" id="email">
        <div class="m-2"><button class="btnBg ctxtL btn btn-large" id="resetBtn">Reset Password</button></div>
    </form>
</div>
<script src="/js/resetPassword.js"></script>