<div class="ctxt border2">
    {{!-- title for name of seed --}}
  <h2></h2>

  <form>
    <div>
      <label>Confirm Address</label>
      <textarea id:""></textarea>
      </div>

  </form>
  <div>
    <button id="">Sent</button>
    <a href="/dashboard"><button>Dashboard</button></a>

</div>
<script src="/js/"></script>