<div class="ctxt border2">
<p>Change Email</p>
<div class="field">
  <label class="label">New Email</label>
  <div class="control">
    <input class="input" id="newEmail">
  </div>
</div>

<div class="field">
  <label class="label">Confirm Email</label>
  <div class="control">
    <input class="input" id="confirmEmail">
  </div>

  <button id="updateEmailBtn">Update Email</button>
</div>

<script src="/js/updateEmail.js"></script>