<div>
<p>update email</p>
<div class="field">
  <label class="label">Old Email</label>
  <div class="control">
    <input class="input" >
  </div>
</div>

<div class="field">
  <label class="label">Updated Email</label>
  <div class="control">
    <input class="input" >
  </div>

  <button>Confirm</button>
</div>

<script></script>