.border {
  border: 5px solid black;
}

.titleBg {
  background-color: burlywood;
  border: 3px black double;
  border-radius: 25px;
}

.border2 {
  background-color: bisque;
  border-radius: 25px;
  border: 4px solid black;
  padding: 20px;
  width: 50%;
  height: auto;
  margin: 0 auto;
}
 .welcomeBrush {
  font-family: 'Brush Script MT', cursive;
  font-size: 4.75rem;
}
.btmbor {
  border-bottom: 5px black dotted;
}
.accountBtns {
  border-radius: 25px;
  padding: 10px;
}

.insideBorder {
  width: 50%;
  border-radius: 25px;
  border: 5px solid black;
}

.insideBorder:hover {
  width: 60%;
  padding: 20px;
  background-color: #cecece;
  border: yellow 5px solid;
}

.inline {
  display: inline-flexbox;
} 

.ctxt {
  text-align: center;
}

.ctxtL {
  text-align: center;
  font-size: 1.75rem;
}

.right_txtL {
  text-align: right;
  font-size: 1.75rem;
}
.float_right{
  float: right;
}
.float_left{
  float: left;
}

.btnBg {
  background-color: yellow;
}

.cenAlign {
  margin: 0 auto;
}

.padding {
  padding-top: 50px;
  padding-right: 5%;
  padding-bottom: 50px;
  padding-left: 5%;
}

.picFix {
  max-width: 200px;
  max-height: 200px;
}

.picFix2 {
  align-items: center;
  max-width: 400px;
  max-height: 400px;
}

.bg1 {
  background-color: rgb(132, 161, 73);
}


@media screen and (max-width: 999px) {
  .picFix2 {
    max-width: 325px;
    max-height: 325px;
  }

  .fieldControl {
    max-width: 95%;
  }

  .border2 {
    min-width: 375px;
  }

  .insideBorder {
    min-width: 200px;
  }
  .welcomeBrush{
    font-size: 4.0rem;
  }
  
}

@media screen and (max-width: 662px) {
  .picFix2{
    max-width: 300px;
    max-height: 300px;
  }

  .welcomeBrush{
    font-size: 3.0rem;
  }
}